DATA STRUCTURE BASICS

In [ ]:
# ex.1
# INPUT: n and char
# OUTPUT: Print triangle of size n using character char
# THINK: using recursion?

def printTriangle (number, character):
  # base case: number == 1
  if (number==0):
    return
  for i in range (number):
    print(character, end=' ')
  print('')
  printTriangle(number-1, character)
  
printTriangle(5, 'a')

a a a a a
a a a a
a a a
a a
a

In [ ]:
#Q2
# INPUT: sphere radius
# OUTPUT: sphere volume

import math

def spherevol (inrad):
  return (4/3) * (math.pi) * (inrad)**3

print (spherevol(4))

268.082573106329

In [ ]:
#Q3
# input: integer
# output: factorial

def fact(n):
  if(n==1):
    return 1
  else:
    return n * fact(n-1)

print(fact(6))

720

In [36]:
import math 
# Q4:

# input: integer
# output: sum of digits

def sumdigits ( digits ):
  print(digits)
  if (len(str(digits))==1):
    return digits
  return (digits%10) + (sumdigits(math.floor(digits/10)))

number = 1982
sd = sumdigits (number)
print('sum of digits:', sd)

1982
198
19
1
sum of digits: 20

In [ ]:
print(math.floor(903/10))

90

In [40]:
# INPUT: two numbers
# OUTPUT: their hcf

def hcf (m,n):
  if (n==0):
    return m
  else:
    return hcf(n, m%n)

print(hcf(480,784))

def lcm (m,n):

16